@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 80px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 40px 5%;
  gap: 20px;
}

.text h2 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  color: white;
}

.text p {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}

.link {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease-in-out;
}

.link:hover {
  transform: scale(1.05);
}

.link a {
  font-size: 20px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.link a:hover {
  color: var(--color-primary);
}

/* The common link style for all contact items */
.link img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 830px) {
  .container {
    margin-top: 50px;
    padding: 30px 5%;
  }

  .links {
    flex-direction: column;
    align-items: center;
  }

  .link a {
    font-size: 18px;
  }

  .link img {
    width: 20px;
    height: 20px;
  }
}
