@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
  gap: 50px; /* Added space between image and text */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 33px;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.description {
  font-size: 30px;
  font-family: var(--font-roboto);
  margin-bottom: 52px;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 30px;
  font-weight: 600;
  padding: 17px 26px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

/* 3D Effect for Circular Image */
.heroImg {
  width: 250px; /* Ensure proper size */
  height: 250px;
  border-radius: 50%; /* Circular shape */
  z-index: 1;
  object-fit: cover; /* Ensure the image fills the circle */

  transform: perspective(1000px) rotateY(10deg);
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3); /* 3D shadow effect */

  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* Hover Effect for Interactive 3D Look */
.heroImg:hover {
  transform: perspective(1000px) rotateY(0deg) scale(1.05);
  box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.5);
}

@keyframes floating {
  0% {
    transform: translate(0, 0px) perspective(1000px) rotateY(10deg);
  }
  50% {
    transform: translate(0, 10px) perspective(1000px) rotateY(5deg);
  }
  100% {
    transform: translate(0, -0px) perspective(1000px) rotateY(10deg);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

/* Responsive Adjustments */
@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
    gap: 30px; /* Adjusted space for mobile */
  }

  .content {
    align-items: center;
  }

  .heroImg {
    width: 180px;
    height: 180px;
    transform: none; /* Remove 3D effect for mobile */
  }
}
